<%- td.head%>
  </head>
<%- td.navbar%>
  <body>
    <div class="container">

<body>
	<div class="add_recipe">
	<div class='recipe'>
    <% for (i = recipes.length-1; i>=0;i--){ %>    
      <a href='/recipe/<%= recipes[i]._id %>'><h3><%= recipes[i].title %></h3></a>
    <% } %>    
    </div>
    </div>
    <div class="add_recipe">
    <div class='recipe'>
	<h3>Cold:</h3>
	<ol>
    <% for (i = recipes.length-1; i>=0;i--){ %>    
      <% for(j = recipes[i].ingredients.length-1; j>=0;j--){%>	      
		<% if(recipes[i].ingredients[j].category === 'cold'){%>
		  <ul>
		  <%=recipes[i].ingredients[j].item%>
		  <%}%>
		  </ul>
      <%}%>
    <%}%>    
    </ol>
    </div>
    
    <div class='recipe'>
	<h3>Meat:</h3>
	<ol>
    <% for (i = recipes.length-1; i>=0;i--){ %>    
      <% for(j = recipes[i].ingredients.length-1; j>=0;j--){%>
		<% if(recipes[i].ingredients[j].category ==='meat'){%>
		  <ul>
		  <%=recipes[i].ingredients[j].item%>
		  <%}%>
		  </ul>
      <%}%>
    <%}%>    
    </ol>
    </div>
    
    <div class='recipe'>
	<h3>Grains:</h3>
	<ol>
    <% for (i = recipes.length-1; i>=0;i--){ %>    
      <% for(j = recipes[i].ingredients.length-1; j>=0;j--){%>
		<% if(recipes[i].ingredients[j].category ==='grains'){%>
		  <ul>
		  <%=recipes[i].ingredients[j].item%>
		  <%}%>
		  </ul>
      <%}%>
    <%}%>    
    </ol>
    </div>
    
    <div class='recipe'>
	<h3>Produce:</h3>
	<ol>
    <% for (i = recipes.length-1; i>=0;i--){ %>    
      <% for(j = recipes[i].ingredients.length-1; j>=0;j--){%>
		<% if(recipes[i].ingredients[j].category ==='produce'){%>
		  <ul>
		  <%=recipes[i].ingredients[j].item%>
		  <%}%>
		  </ul>
      <%}%>
    <%}%>    
    </ol>
    </div>
     
        <div class='recipe'>
	<h3>Cans/Jars:</h3>
	<ol>
    <% for (i = recipes.length-1; i>=0;i--){ %>    
      <% for(j = recipes[i].ingredients.length-1; j>=0;j--){%>			
		<% if(recipes[i].ingredients[j].category ==='cans/jars'){%>
		  <ul>
		  <%=recipes[i].ingredients[j].item%>
		  <%}%>
		  </ul>
      <%}%>
    <%}%>    
    </ol>
    </div>
    
        <div class='recipe'>
	<h3>Other:</h3>
	<ol>
    <% for (i = recipes.length-1; i>=0;i--){ %>    
      <% for(j = recipes[i].ingredients.length-1; j>=0;j--){%>
		<% if(recipes[i].ingredients[j].category ==='other'){%>
		  <ul>
		  <%=recipes[i].ingredients[j].item%>
		  <%}%>
		  </ul>
      <%}%>
    <%}%>    
    </ol>
    </div>    
    </div>
        
  </body>

    </div> <!-- /container -->

<%- td.footer%>
