<%- td.head%>
  </head>
<%- td.navbar%>

  <body>
    <div class="container">

	  <body>	  
	<form id="grocerylForm" method='POST' action='/groceryl'>
    <% for (i = 0; i<recipes.length;i++){ %>
    <div class='recipe'>
	  <% console.log(recipes[i]);%>
	  <input type='checkbox' name='<%=recipes[i]._id%>' id='recipe<%=i%>'/>
      <a href='/recipe/<%= recipes[i]._id %>'><h2 style='display:inline'><%= recipes[i].title %></h2></a>
    </div>
    <% } %>    
    <br/>
    <input type='submit' value='Create & Submit' />
    </form>
    </div> <!-- /container -->
  </body>

<%- td.footer%>    
