<%- td.head%>
  </head>
<%- td.navbar%>
  <body>

    

      <body>
		  <div class="container">
<div class='add_recipe'>
<h1 style='display:inline'><%= recipe.title %></h1>
<p>Serving Size: <%= recipe.servingSize %><br/><br/>
   Ingredients:<br/>
	<ul>
<% for (i = 0; i<recipe.ingredients.length;i++){ %>	
	<li><%= recipe.ingredients[i].item %></li>
	<%}%>	
	</ul><br/>
	Instructions:<br/>
	<ol>
<% for (i = 0; i<recipe.instructions.length;i++){ %>	
	<li><%= recipe.instructions[i] %></li>
	<%}%>	
	</ol><br/>


</p>
  <form method="POST" action='/recipe/<%= id %>'>
    <input type='hidden' name='_method' value='delete' />
    <input type='submit' value='delete recipe'/>    
  </form>
  <form method="GET" action='/updaterecipe/<%= id %>'>
    <input type='hidden' name='_method' value='get' />
    <input type='submit' value='update recipe'/>    
  </form>  
</div>
</div> <!-- /container -->
</body>

    

<%- td.footer%>
