<%- td.head%>
  </head>

  <body>

<%- td.navbar%>
    <div class="container">

	<body>
	    <% for (i = 0; i<recipes.length;i++){ %>
    <div class='recipe'>
      <a href='/recipe/<%= recipes[i]._id %>'><h2 style='display:inline'><%= recipes[i].title %></h2></a>
    </div>
    <% } %>  
	</body>

    </div> <!-- /container -->

<%- td.footer%>
