<html>
  <head>
    <title>Balanced Meal</title>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <link href="http://cdn.jsdelivr.net/bootstrap/2.3.0/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
    <style>
      body {
        margin: 0 auto;
        width: 600px;
      }
 
      .post {
        background: #eee;
        border: 1px solid #ccc;
        margin: 5px;
        padding: 10px;
      }
 
      .add_recipe {
        background: #eee;
        border: 1px solid #ccc;
        margin: 5px;
        padding: 10px;
        border-radius: 10px;
      }
    </style>
    
    <script>
    $(document).ready(function(){
	$('#btnAdd').click(function() {
		var num        = $('.clonedInput').length;    // how many "duplicatable" input fields we currently have
		var newNum    = new Number(num + 1);        // the numeric ID of the new input field being added

		// create the new element via clone(), and manipulate it's ID using newNum value
		var newElem = $('#newinput' + num).clone().attr('id', 'newinput' + newNum);

		// manipulate the name/id values of the input inside the new element
		newElem.children(':first').attr('id', 'newingredient' + newNum).attr('name', 'newingredient' + newNum);		
		newElem.children(':nth-child(2)').attr('id','newcategory'+newNum).attr('name', 'newcategory' + newNum);

		// insert the new element after the last "duplicatable" input field
		$('#newinput' + num).after(newElem);

		// business rule: you can only add 20 ingredients
		if (newNum == 20)
			$('#btnAdd').attr('disabled','disabled');
	});
$('#btnAddStep').click(function() {
		var num        = $('.clonedInputStep').length;    // how many "duplicatable" input fields we currently have
		var newNum    = new Number(num + 1);        // the numeric ID of the new input field being added

		// create the new element via clone(), and manipulate it's ID using newNum value
		var newElem = $('#newinst' + num).clone().attr('id', 'newinst' + newNum);

		// manipulate the name/id values of the input inside the new element
		newElem.children(':first').attr('id', 'newstep' + newNum).attr('name', 'newstep' + newNum);		

		// insert the new element after the last "duplicatable" input field
		$('#newinst' + num).after(newElem);		

		// business rule: you can only add 10 Steps
		if (newNum == 10)
			$('#btnAddStep').attr('disabled','disabled');
	});
});
    </script>
</head>

  
  <body>
	<div class="add_recipe">
		<h1>Update Recipe</h1>
		<form id="recipeForm" method='POST' action='/updaterecipe/<%=recipe._id%>'>
			<input type='hidden' name='_method' value='put' />
			<input name='title' id='title_field' value='<%=recipe.title%>' /><br />
			<input name='size' id='size_field' value='<%=recipe.servingSize%>' /><br/>
			<br/><br/>Ingredients:
			<%i = 1;%>
			<%for(ingred in recipe.ingredients){%>			
			<div id="input1" style="margin-bottom:4px;">
				<input type="text" name="ingredient<%=i%>" id="ingredient<%=i%>" value="<%=recipe.ingredients[ingred].item%>"/>
				<select id='category<%=i%>'name="category<%=i%>" stlye='display:inline'>					
				<option value="cold" <%if(recipe.ingredients[ingred].category==='cold'){%>selected='selected'<%}%> >cold</option>
				<option value="meat"<%if(recipe.ingredients[ingred].category==='meat'){%>selected='selected'<%}%> >meat</option>
				<option value="grains"<%if(recipe.ingredients[ingred].category==='grains'){%>selected='selected'<%}%> >grains</option>
				<option value="produce"<%if(recipe.ingredients[ingred].category==='produce'){%>selected='selected'<%}%> >produce</option>
				<option value="cans/jars"<%if(recipe.ingredients[ingred].category==='cans/jars'){%>selected='selected'<%}%> >cans/jars</option>
				<option value="other"<%if(recipe.ingredients[ingred].category==='other'){%>selected='selected'<%}%> >other</option>
				</select>
			</div>
			<%i++;%>
			<%}%>
			<div id="newinput1" style="margin-bottom:4px;" class="clonedInput">
				<input type="text" name="newingredient1" id="newingredient1" />
				<select id='newcategory1'name="newcategory1" stlye='display:inline'>					
				<option value="cold">cold</option>
				<option value="meat">meat</option>
				<option value="grains">grains</option>
				<option value="produce">produce</option>
				<option value="cans/jars">cans/jars</option>
				<option value="other">other</option>
				</select>
			</div>
			<div>
				<input type="button" id="btnAdd" value="add another ingredient" />				
			</div><br/><br/>
			Instructions:<br/>
			<%i = 1;%>
			<%for(instr in recipe.instructions){%>
			<div id="inst1" style="margin-bottom:4px;">
				<input type="text" name="step<%=i%>" id="step<%=i%>" value="<%=recipe.instructions[instr]%>" />
			</div>
			<%i++;%>
			<%}%>
			<div id="newinst1" style="margin-bottom:4px;" class="clonedInputStep">
				<input type="text" name="newstep1" id="newstep1" />
			</div>
			<div>
				<input type="button" id="btnAddStep" value="add another Step" />				
			</div>			
			<br/><br/>
			<input type='submit' value='Update' />
		</form>                         
        
    </div>
  </body>
</html>
